
*.pdb
*.exp

# Builds
client/FightDemo/Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!client/FightDemo/Build/*/
client/FightDemo/Build/*/**
!client/FightDemo/Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!client/FightDemo/Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

DerivedDataCache/*
client/FightDemo/Saved/
client/FightDemo/Plugins/Developer/
client/FightDemo/Intermediate/
client/FightDemo/Binaries/DotNET/
client/FightDemo/.vs/
client/FightDemo/Binaries/Win64/*.lib
client/FightDemo/.idea/
client/FightDemo/FightDemo.sln
client/FightDemo/FightDemo.sln.DotSettings.user
client/FightDemo/.vsconfig
client/FightDemo/Binaries/Win64/UnrealEditor-FightDemo.patch_*.exe
